.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
header{
	width: 90%;
	margin: 20px auto;
	padding: 1px;
	background-color: #ff6600;
	line-height: 12px;
}
header img{
	margin: 3px;
	width:18px;
	height: 18px;
	border:1px #ffffff solid;
	display: inline-block;
}
header nav{
	display: inline-block;
}
header nav a{
	margin: 0px;
}